<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    <form action="/madlib">
      Please choose one of the following:
      <select name="color">
          <option value="red">Red</option>
          <option value="pink">Pink</option>
          <option value="green">Green</option>
          <option value="blue">Blue</option>
          <option value="purple">Purple</option>
      </select>
      <br>
      <input type="checkbox" name="noun" value="lobster">
      <label>Lobster</label>
      <input type="checkbox" name="noun" value="crab">
      <label>Crab</label>
      <br>
      <label>Person</label>
      <input type="text" name="person">
      <br>
      <input type="checkbox" name="adjective" value="happy">
      <label>Happy</label>
      <input type="checkbox" name="adjective" value="sad">
      <label>Sad</label>
      <input type="submit">
    </form>
</body>
</html>